DATABASE_URL="postgresql://usuario:contraseña@host:5432/postgres"
JWT_SECRET="tu_clave_secreta_aqui"
PORT=3000
UPLOAD_DIR="uploads"

API_CONSULTAS_TOKEN="tu_token_de_apisperu_aqui"
API_CONSULTAS_BASE_URL="https://dniruc.apisperu.com"
